.slick-dots-bottom {
  margin: 0 !important;
  padding: 0 !important;
}

.slick-dots li button:before {
  font-size: 0 !important;
}

/* .movieCarousel__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
} */
