.slick-prev:before,
.slick-next:before {
  color: gray !important;
  font-size: 3rem !important;
}

.slick-prev {
  left: -55px !important;
}

.width-item {
  width: 100% !important;
}

.active_Film {
  background: linear-gradient(to right, #fbbd61, #ec7532);
  color: white;
}

.none_active_Film {
  @apply bg-white text-black;
}

.btn-category:hover {
  background: linear-gradient(to right, #fbbd61, #ec7532);
  color: white;
}
